
.container {
    /* height: 100vh; */
    display: grid;
    grid-template:
      "header header header" 60px
      "left-menu main right-menu" 1fr
      "footer footer footer" 80px /
      1fr 2fr 1fr;
    gap: 10px;   
}

.container div div {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px dotted purple;
    display: grid;
    place-items: center;
}

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80px;

    place-items: center;
    justify-content: center;
}

div.header div {
    height: 18px;
}

div.header div:nth-child(odd) {
    border-radius: 100%;
}

.left-menu {
    grid-area: left-menu;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));
}

.right-menu {
    grid-area: right-menu;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 200px;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 80px 1fr;
}

