
body {
    background: lightblue;
    color: darkblue;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding: 1% 5%;
}

a {
    font-style: oblique;
    text-decoration: none;
    color: blue;
}

h3 {
    margin-bottom: 2px;
    color: rgb(73, 2, 73);
}

.intro a {
    color: lightskyblue;
}

.intro {
    font-size: 1.5rem;
    background-color: #353535;
    color: lemonchiffon;
    margin: 1rem auto;
    width: 90%;
    padding: 0.5rem;
    border: 1px lightgoldenrodyellow solid;
}

.sample {
    font-size: 1.35rem;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    background-color: #353535;
    margin: 0 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid lightslategray;
}

.explanation {
    font-size: 1.0rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    background-color: #1a1818;
    margin: 0.5rem 1rem 1rem;
    padding: 0.5rem;
}

.output {
    font-family: sans-serif;
    font-weight: 400;
    border: 1px solid lightblue;
    /* margin: 0.5rem 0.5rem 0.5rem; */
}

.next-steps {
    color: lightgreen;
}
